.footer-wrapper {
  text-align: center !important;
}

.social-media-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer-col-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-col {
  margin-bottom: 0;
}

.social-media-list li + li {
  padding-top: 0;
}

.social-media-list li:hover svg {
  fill: #1f2328;
}

/* Discord Icon Specific Style */
.social-media-list li.discord svg {
  fill: #000;
}

.social-media-list li.discord:hover svg {
  fill: #1f2328; 
}

@media screen and (max-width: 800px) {
  .site-nav .page-link {
    margin-left: 0;
  }

  .social-media-list {
    flex-direction: column;
    gap: 10px;
  }
}

#breadcrumbs {
  margin-bottom: 1.5rem;
}
